.wrapper {
    margin: auto;
    width: 75vw;
    /* border: 1px solid red; */
}

.nav-wrapper {
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid black; */
    justify-content: start;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;

}
.nav-btn {
    background-color: white;
    border-radius: 5px;
    width: 80px;
}

